<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Feature.Content" description="Content definition items" dependencies="Foundation.React" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="c:\projects\sitecore.react.tutorial\src\feature\Content\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
              <include name="Feature.Content.Templates" database="master" path="/sitecore/templates/Feature/Content" />
            <include name="Feature.Content.Renderings" database="master" path="/sitecore/layout/renderings/Feature/Content" />
          </predicate>
          <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>