<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <unicorn>
            <configurations>
                <configuration name="Project.Website" description="Website definition items" dependencies="Foundation.React,Feature.Content" patch:after="configuration[@name='Foundation.Serialization']">
                    <targetDataStore physicalRootPath="c:\projects\sitecore.react.tutorial\src\project\Website\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
                    <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
                        <include name="Project.Sitecore.React.Website.Templates" database="master" path="/sitecore/templates/project/Website" />
                        <include name="Project.Sitecore.React.Website.Renderings" database="master" path="/sitecore/layout/renderings/project/Website" />
                        <include name="Project.Sitecore.React.Website.Layout" database="master" path="/sitecore/layout/Layouts/project/Website" />
                    </predicate>
                    <syncConfiguration type="Unicorn.Loader.DefaultSyncConfiguration, Unicorn" singleInstance="true" updateLinkDatabase="false" updateSearchIndex="true" maxConcurrency="1" />
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>